

.el-dropdown-menu {
   padding: 0;
   margin: 0;
    }

    .el-menu-item{
        border-top: 3px solid #F0F2F5;
    }
    .el-sub-menu{
        span{
            font-size: 14;
            font-weight: 500;
        }
    }
 


        
